---
import fiskpose from "../assets/images/fiskpose.png";
import top from "../assets/images/hvadertop.png";
import bund from "../assets/images/hvaderbund.png";
import { Image } from "astro:assets";
---

<div class="relative">
  <Image
    src={top}
    alt="Sektionsindeling"
    class="w-full h-100 absolute -top-3.5"
  />

  <div
    class="grid grid-cols-1 md:grid-cols-2 h-[80vh] p-5 bg-[#201D76] z-10 pt-16"
  >
    <div class="flex flex-col justify-center text-left text-white">
      <h1 class="text-3xl font-bold">Hvad er plastikforurening?</h1>
      <p class="mt-2 text-lg">
        Plastikforurening opstår, når plastikaffald ender i naturen og miljøet.
        Hvert år havner millioner af tons plastik i havene, floderne og på
        landjorden, hvor det skader dyreliv, forurener vores økosystemer og
        bryder ned i mikroplastik, som forbliver i miljøet i hundredvis af år.
        Engangsplastik som poser, sugerør og flasker er særligt problematiske,
        da de ofte bliver brugt kortvarigt, men har en langvarig skadelig effekt
        på vores planet.
      </p>
    </div>
    <div class="flex justify-center items-center">
      <Image src={fiskpose} alt="En fisk i en plastikpose" class="" />
    </div>
  </div>
</div>
