---
import logo from "../assets/images/logo_plastic_change.png";
import { Image } from "astro:assets";
---

<div
  class="flex items-center justify-between px-4 py-2 text-white absolute top-2 left-0 w-full z-10"
>
  <div id="logo" class="flex-none">
    <a href="/">
      <Image src={logo} alt="Plastic Change logo" class="h-[40px] w-auto" />
    </a>
  </div>

  <div class="flex items-center space-x-6">
    <nav class="hidden md:flex space-x-6 mr-5">
      <a href="#" class="hover:text-gray-300 font-bold">Plastikforurening</a>
      <a href="#" class="hover:text-gray-300 font-bold">Plastikproblemer</a>
      <a href="#" class="hover:text-gray-300 font-bold">Sådan gør vi</a>
      <a href="#" class="hover:text-gray-300 font-bold">Gode råd</a>
      <a href="#" class="hover:text-gray-300 font-bold">Tilmeld nyhedsbrev</a>
    </nav>

    <a
      href="#"
      class="bg-[#F42C2C] text-white px-4 py-2 rounded-[10px] hover:bg-[#AC0E0E] font-bold flex items-center justify-center"
    >
      Støt os
    </a>
  </div>
</div>
