---
import skildpadde1 from "../assets/images/skildpadde2.png";
import pose1 from "../assets/images/pose1.png";
import top from "../assets/images/hvadertop.png";
import baggrund from "../assets/images/landingpagebaggrund.webp";
import { Image } from "astro:assets";
---

<div class="relative h-screen pt-[615px] bg-cover bg-center">
  <Image
    src={baggrund}
    alt="Landing page background"
    class="absolute inset-0 w-full h-full object-cover -z-10"
  />

  <Image
    src={pose1}
    alt="En skildpadde"
    class="absolute top-[100px] left-[200px]"
  />
  <Image
    src={skildpadde1}
    alt="En skildpadde"
    class="absolute top-[100px] left-[600px]"
  />
  <h1 class="text-7xl font-bold text-white ml-10">#SINGLEUSESUCKS</h1>
  <h2 class="text-2xl text-white mt-4 ml-10">
    Mere handling, mindre plastik – Start i dag!
  </h2>
</div>
